* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ptsans/v12/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'PT Sans', Arial, Verdana;
  background-color: rgb(190 190 190);
}
h1 {
  text-align: center;
  font-size: 40px;    /* */
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #222;
}
h2{
  text-align: center;
  /* font-size: 48px;     */
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #222;
  padding-top: 80px;
  /* padding-bottom: 0px; */
  /* margin-bottom: 0px; */
}
.message{
    padding-top:80px;
    padding-left:80px;
    text-align: center;
    width:1500px
}

/* .nav-bar{
  top: 80%;
} */
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 180px;
  margin: auto;
  top: 35px;
  position: relative;
  background-color: #2c3e50;
  z-index: 7;
}
.menu li {
  float: left;
  width: 25%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.menu a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 18px;
  z-index: 9;

}
a.active {
  background-color: #e74c3c;
  /* pointer-events: none; */
  
}
li.slider {
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e74c3c;
  z-index: 8;
  transition: left 0.4s, background-color 0.4s;
}
.menu li:nth-child(1):hover ~ .slider,
.menu li:nth-child(1):focus ~ .slider,
.menu li:nth-child(1):active ~ .slider {
  left: 0;
  background-color: #3498db;
}
.menu li:nth-child(2):hover ~ .slider,
.menu li:nth-child(2):focus ~ .slider,
.menu li:nth-child(2):active ~ .slider {
  left: 25%;
  background-color: #9b59b6;
}
.menu li:nth-child(3):hover ~ .slider,
.menu li:nth-child(3):focus ~ .slider,
.menu li:nth-child(3):active ~ .slider {
  left: 50%;
  background-color: #e67e22;
}
.menu li:nth-child(4):hover ~ .slider,
.menu li:nth-child(4):focus ~ .slider,
.menu li:nth-child(4):active ~ .slider {
  left: 75%;
  background-color: #16a085;
}

/* -----------------------------------------------------------*/
/* -----------------------------------------------------------*/
/* ------------------------- Start Purchase a plan -----------*/
/* -----------------------------------------------------------*/
/* -----------------------------------------------------------*/
/* -----------------------------------------------------------*/

.box {
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

.box select {
  background-color: #78828a;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  /* color: rgba(255, 255, 255, 0.5); */
  color: rgba(201 171 171 / 50%);
  /* background-color: rgba(255, 255, 255, 0.1); */
  pointer-events: none;
}

/* .box:hover::before { */
  /* color: rgba(255, 255, 255, 0.6); */
  /* background-color: rgba(255, 255, 255, 0.2); */
/* } */

.box select option {
  padding: 30px;
}
/* -----------------------------------------------------------*/
/* -------------------End Purchase a plan---------------------*/
/* -----------------------------------------------------------*/
/* -----------------------------------------------------------*/
/* -----------------------------------------------------------*/
.modal-body{

  position: absolute;
}