<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>

<body>

    <div class="container-fluid">
        <h1 class="text-center alert alert-danger">This Is Admin Page</h1>
        <div class="row">
            <div class="col-sm-2"></div>
            <!------------------------------------------------------>
            <!------------------------------------------------------>
            <!--------------- Start show Customer list ------------->
            <!------------------------------------------------------>

            <div class="col-sm-8">
                <h2>Customer List</h2>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">User Name</th>
                            <th scope="col">Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">View Claims</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in customers_list %}
                        <tr>
                            <td>{{customer.0}}</td>
                            <td>{{customer.1}}</td>
                            <td>{{customer.2}}</td>
                            <td>
                                <a href="/admin/show_all_claims?user={{ customer.0 }}"
                                    class="btn btn-warning btn-sm">All
                                    Claims</a>
                                <a href="/admin/show_unresolved_claims?user={{ customer.0 }}"
                                    class="btn btn-warning btn-sm">
                                    Unresolved Claims</a>

                            </td>
                        </tr>

                        {% endfor %}
                    </tbody>

                </table>
            </div>

            <!------------------------------------------------------>
            <!--------------- End show Customer list --------------->
            <!------------------------------------------------------>
            <!------------------------------------------------------>


        </div>
    </div>


    <!-- --------------------------------------------------->
    <!-- --------------------------------------------------->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>


</html>