<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Customer</title>

    <!-- <link rel="stylesheet" href="../static/css/customer.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/customer.css')}}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>

<body>
    <hr>

    <h1>Hello mr/ {{customer_name}}</h1>
    <hr>
    <h2>What do you want to do</h2>

    <!-------------------------------------------------------------------------->
    <!---------------------- Start Nav bar ----------------->
    <div>
        <ul class="menu">

            <li><a style=" text-decoration: none;" data-toggle="modal" href="#add_plan"
                    class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span>
                    Purchase a plan</a></li>

            <li><a style=" text-decoration: none; color: white;" data-toggle="modal" href="#add_dependent"
                    class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span>
                    Adding a dependent</a></li>

            <li><a style="text-decoration: none; color: white;" data-toggle="modal" href="#view_hospital"
                    class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span>
                    View available hospitals</a></li>

            <li><a style="text-decoration: none; color: white;" data-toggle="modal" href="#file_claim"
                    class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span>
                    File an insurance claim</a></li>


            <!-- <li><a data-target="#add_plan">Purchase a plan</a> </li> -->
            <!-- <li><a href="#add_plan"> Adding a dependent </a></li>
            <li><a href="#add_plan">View available hospitals</a></li>
            <li><a href="#add_plan">File an insurance claim</a></li> -->
            <li class="slider"></li>
        </ul>
    </div>
    <!----------------- End Nav bar ----------------->
    <!-------------------------------------------------------------------------->



    <!-------------------------------------------------------------------------->
    <!-- -------------------------------------------------------------- -->
    <!-- ----------------------- Start Purchase Plan--------------------- -->

    <div id="add_plan" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title text-primary" style="align-content: center;">
                        Purchase New Plan</h5>
                </div>
                <form action="/customer/purchase_plan" method="POST">

                    <div class="modal-body">
                        <div class="box">
                            <br>
                            <label for="select-type" class="label select-box1">
                                <h5>Choose type of plane :</h5>
                            </label>

                            <select name="plan_type" id='select-type' class="form-control" style=" background-color: #24424cc4; color:white;
                                padding:5px 0 7px 10px;margin-bottom: 10px;height: 47px">

                                <option style="color: white;">Basic</option>
                                <option style="color: white;">Premium</option>
                                <option style="color: white;">Golden</option>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" name="user" value="{{user}}">
                    <br><br>

                    <div class="form-group" style='margin-top:40px; '>
                        <button type="submit" class="form-control btn btn-primary rounded submit px-3">
                            Purchase</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <!-- --------------------- End Purchase Plan--------------------- -->
    <!-------------------------------------------------------------------------->
    <!-- =---------------------------------------------------------------- -->



    <!-------------------------------------------------------------------------->
    <!---------------------- Start Adding Dependent -------------------------->
    <!-------------------------------------------------------------------------->

    <div id="add_dependent" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-primary" style="align-content: center;">
                        Add New Dependent</h5>
                </div>
                <div class="modal-body">
                    <form action="/customer/add_dependent" method="POST">

                        <div class="form-group">
                            <label style="color:black">Name</label>
                            <input type="text" name="dependent_name" class="form-control" id="exampleFormControlInput1"
                                placeholder="Enter Full Name" required maxlength="10">
                        </div>

                        <div class="form-group">
                            <label style="color:black">Relationship</label>

                            <select name="relationship" id='select-type' class="form-control" required>
                                <option>Son</option>
                                <option>Daughter</option>
                                <option>Partner</option>
                            </select>
                        </div>


                        <div class="form-group">
                            <label style="color:black">The ID of Plan that a dependent will benefits from it</label>

                            <select name="plan_id" id='select-type' class="form-control" required>

                                {%for plan in plans_list%}

                                <option>{{plan}}</option>

                                {%endfor%}

                            </select>
                            <input type="hidden" name="user" value="{{user}}">

                        </div>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary rounded submit px-3">
                                Save</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-------------------------------------------------------------------------->
    <!----------------------- End Adding Dependent -------------------------->
    <!-------------------------------------------------------------------------->



    <!-------------------------------------------------------------------------->
    <!-------------- Start view available hospital ---------->
    <!-------------------------------------------------------------------------->

    <div id="view_hospital" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style='width: 600px;'>

                <div class="modal-header">
                    <h5 class="modal-title text-primary" style="align-content: center;">
                        Available Hospitals </h5>
                </div>

                <div class="modal-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Location</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for hospital in available_hospital %}
                            <tr>
                                <td>{{hospital.0}}</td>
                                <td>{{hospital.1}}</td>
                                <td>{{hospital.2}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-------------------------------------------------------------------------->
    <!-------------- End view avilable hospital ---------->
    <!-------------------------------------------------------------------------->



    <!----------------------------------------------------------------------->
    <!--------------------- Start File An insurance Claim -------------------->
    <!-------------------------------------------------------------------------->

    <div id="file_claim" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-primary" style="align-content: center;">
                        Add New Claim</h5>
                </div>
                <div class="modal-body">
                    <form action="/customer/file_claim" method="POST">

                        <div class="form-group">
                            <label style="color:black">Description of Claim</label>
                            <textarea maxlength="322" cols=" 60" rows='7' style="height: 190px; resize:none"
                                name="description" class="form-control" placeholder="Enter description of claim"
                                required></textarea>
                        </div>

                        <div class="form-group">
                            <label style="color:black">Claim Cost</label>
                            <input type="text" name="cost" class="form-control" id="exampleFormControlInput1"
                                placeholder="$" required maxlength="6">
                        </div>

                        <div class="form-group">
                            <label style="color:black">The Beneficiary</label>

                            <select name='beneficiary' id='select-type' class="form-control" required>
                                {%for dependent in dependents_list%}
                                <option>{{dependent}}</option>
                                {%endfor%}
                            </select>

                        </div>
                        <br>

                        <input type="hidden" name="user" value="{{user}}">

                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary rounded submit px-3">
                                Send</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!---------------------------------------------------------------------------->
    <!--------------------- End File An insurance Claim -------------------------->
    <!-- ------------------------------------------------------------------------->




    <!-- ------------------------------------------------------------------------>
    <!-- ---------- Start flashed messages -------------------------------------->
    <!-- ------------------------------------------------------------------------>

    <div class='message'>
        <h5>
            {%with messages = get_flashed_messages(with_categories=true)%}
            {%if messages%}
            {% for category, message in messages %}
            {%if category == 'success'%}

            <div class="alert alert-success alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{message}}
            </div>

            {%endif%}

            {%if category == 'error'%}
            <div class="alert alert-danger alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{message}}
            </div>

            {%endif%}

            {%endfor%}
            {%endif%}
            {%endwith%}
        </h5>
    </div>

    <!-- ------------------------------------------------------------------------>
    <!-- ----------End lashed messages------------------------------------------->
    <!-- ------------------------------------------------------------------------>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>