<!DOCTYPE html>
<html lang="en">

<head>
	<title>Login V6</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css')}}">
	<!--===============================================================================================-->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">


</head>

<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
				<form class="login100-form validate-form" method='POST' action="/login">
					<span class="login100-form-title p-b-70">
						Welcome
					</span>
					<span class="login100-form-avatar">
						<img src="{{url_for('static', filename='images/m.jpg')}}" alt="AVATAR">
					</span>

					<div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate="Enter username">
						<input class="input100" type="text" name="user">
						<span class="focus-input100" data-placeholder="Username"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
						<input class="input100" type="password" name="password">
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>

				</form>

				<br><br>

				<!-- start add Customer and Hospital button -->

				<table class="login-more p-t-190">
					<tr>
						<td class="m-b-8">
							<div class="col-sm-8">
								<button class="btn btn-primary float-right" data-toggle="modal"
									data-target="#Hospital">Add
									Hospital</button>
							</div>
						</td>

						<td>

							<div class="col-sm-8">
								<button class="btn btn-primary float-right" data-toggle="modal"
									data-target="#Customer">Add
									Customer</button>
							</div>

						</td>
					</tr>
				</table>

				<!-- end add Customer and Hospital button -->


				<!-- Enter add Hospital Modal -->
				<div id="Hospital" class="modal fade" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">

							<div class="modal-header">
								<h5 class="modal-title text-primary" style="align-content: center;">
									Add New Hospital/h5>
							</div>

							<div class="modal-body">

								<form action="" method="POST">
									<div class="form-group">
										<label>Full Name</label>
										<input type="text" name="name" class="form-control"
											id="exampleFormControlInput1" placeholder="Enter Full Name">
									</div>

									<div class="form-group">
										<label>Email</label>
										<input type="text" name="email" class="form-control"
											id="exampleFormControlInput1" placeholder="Enter Email">
									</div>

									<div class="form-group">
										<label>Phone Number</label>
										<input name="phone" type="text" class="form-control"
											id="exampleFormControlInput1" placeholder="Enter Phone Number">
									</div>

									<button type="submit" class="btn btn-primary mb-2">Save</button>

								</form>

							</div>
						</div>
					</div>

				</div>

				<!-- End of New Hospital Modal -->

				<!-- Enter add Customer Modal -->
				<div id="Customer" class="modal fade" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">

							<div class="modal-header">
								<h5 class="modal-title text-primary" style="align-content: center;">
									Add New Customer</h5>
							</div>

							<div class="modal-body">

								<form action="" method="POST">
									<div class="form-group">
										<label>Full Name</label>
										<input type="text" name="name" class="form-control"
											id="exampleFormControlInput1" placeholder="Enter Full Name">
									</div>

									<div class="form-group">
										<label>Email</label>
										<input type="text" name="email" class="form-control"
											id="exampleFormControlInput1" placeholder="Enter Email">
									</div>

									<div class="form-group">
										<label>Phone Number</label>
										<input name="phone" type="text" class="form-control"
											id="exampleFormControlInput1" placeholder="Enter Phone Number">
									</div>

									<button type="submit" class="btn btn-primary mb-2">Save</button>

								</form>


							</div>
						</div>
					</div>

				</div>

				<!-- End of New Customer Modal -->


			</div>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>

</body>

</html>