<!doctype html>
<html lang="en">

<head>
	<title>Login 02</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">


	<!-- <link rel="stylesheet" href='css/style.css'> -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">


</head>

<body>

	<!-- ------------------------------------------------>

	<style>
		body {
			background-image: url("{{url_for('static', filename='images/back.jpg')}}");
			background-size: 100% 110%;
		}

		.message {
			position: absolute;
			text-align: center;
			width: 90%;
			height: 50px;
			margin-top: 40px;
			margin-left: 80px;
		}
	</style>

	<!-- ------------------------------------------------>
	<!-- ------------------------------------------------>


	<!-- ------------------------------------------------>
	<!-- ---------- Start flashed messages -------------->
	<!-- ------------------------------------------------>


	<div class='message'>
		<h5>
			{%with messages = get_flashed_messages(with_categories=true)%}
			{%if messages%}
			{% for category, message in messages %}
			{%if category == 'success'%}

			<div class="alert alert-success alert-dismissable" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="close">
					<span aria-hidden="true">&times;</span>
				</button>
				{{message}}
			</div>

			{%endif%}

			{%if category == 'error'%}
			<div class="alert alert-danger alert-dismissable" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="close">
					<span aria-hidden="true">&times;</span>
				</button>
				{{message}}
			</div>

			{%endif%}

			{%endfor%}
			{%endif%}
			{%endwith%}
		</h5>
	</div>

	<!-- ------------------------------------------------>
	<!-- ----------End lashed messages------------------->
	<!-- ------------------------------------------------>


	<!--------------------------------------------------->
	<!--------------------------------------------------->
	<!---------------- Start Login ---------------------->
	<!--------------------------------------------------->

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">ًWelcome</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
						<h3 class="mb-4 text-center">Sign In</h3>

						<form method='POST' action="/login" class="signin-form">

							<div class="form-group">
								<input type="text" name="user" class="form-control" placeholder="Username" required>
							</div>

							<div class="form-group">
								<input type="password" name="password" class="form-control" placeholder="Password"
									required>
							</div>

							<br>

							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign
									In</button>
							</div>

						</form>
						<br>

						<h3 class="w-100 text-center">&mdash; Or Sign Up As &mdash;</h3>

						<br>

						<div class="social d-flex text-center">

							<a data-toggle="modal" data-target="#Customer" class="px-2 py-2 mr-md-1 rounded"><span
									class="ion-logo-facebook mr-2"></span>
								Customer</a>
							<a data-toggle="modal" data-target="#Hospital" class="px-2 py-2 mr-md-1 rounded"><span
									class="ion-logo-facebook mr-2"></span>
								Hospital</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!--------------------------------------------------->
	<!---------------- End Login ---------------------->
	<!--------------------------------------------------->
	<!--------------------------------------------------->




	<!--------------------------------------------------->
	<!--------------------------------------------------->
	<!-- Start add Customer Modal -->
	<!--------------------------------------------------->


	<div id="Customer" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-primary" style="align-content: center;">
						Add New Customer</h5>
				</div>
				<div class="modal-body">

					<form action="/insert_customer" method="POST">
						<div class="form-group">
							<label style="color:black">Name</label>
							<input type="text" name="customer_name" class="form-control" id="exampleFormControlInput1"
								placeholder="Enter Full Name" style="background-color:#24424cc4; padding: 10px;"
								required>
						</div>

						<div class="form-group">
							<label style="color:black">User Name</label>
							<input name="user_name" type="text" class="form-control" id="exampleFormControlInput1"
								placeholder="Enter Username" style="background-color:#24424cc4; padding: 10px;" required
								maxlength="8">
						</div>

						<div class="form-group">
							<label style="color:black">Password</label>
							<input name="password" type="password" class="form-control" id="exampleFormControlInput1"
								placeholder="Enter Password" style="background-color:#24424cc4; padding: 10px;" required
								max="10">
						</div>

						<div class="form-group">
							<label style="color:black">Phone</label>
							<input name="phone" type="text" class="form-control" id="exampleFormControlInput1"
								placeholder="Enter Phone Number" style="background-color:#24424cc4; padding: 10px;"
								required maxlength="11">
						</div>

						<div class="form-group">
							<label style="color:black">Type Of Plan</label>

							<select id='select-type' class="form-control" name="plan_type"
								style="background-color:#24424cc4; padding: 10px;">
								<option>Basic</option>
								<option>Premium</option>
								<option>Golden</option>
							</select>

						</div>

						<br>

						<div class="form-group">
							<button type="submit" class="form-control btn btn-primary rounded submit px-3">
								Save</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>


	<!--------------------------------------------------->
	<!-- End of New Customer Modal -->
	<!--------------------------------------------------->
	<!--------------------------------------------------->



	<!--------------------------------------------------->
	<!--------------------------------------------------->
	<!-- Start add Hospital Modal -->
	<!--------------------------------------------------->


	<div id="Hospital" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-primary" style="align-content: center;">
						Add New Hospital</h5>
				</div>
				<div class="modal-body">
					<form action="/insert_hospital" method="POST">

						<div class="form-group">
							<label style="color:black">Name</label>
							<input type="text" name="hospital_name" class="form-control" id="exampleFormControlInput1"
								placeholder="Enter Full Name" style="background-color:#24424cc4; padding: 10px;"
								required maxlength="15">
						</div>

						<div class="form-group">
							<label style="color:black">Location</label>
							<input type="text" name="location" class="form-control" id="exampleFormControlInput1"
								placeholder="Enter Location" style="background-color:#24424cc4; padding: 10px;" required
								maxlength='10'>
						</div>


						<div class="form-group">
							<label style="color:black">Phone</label>
							<input type="text" name="phone" class="form-control" id="exampleFormControlInput1"
								placeholder="Enter Phone Number" style="background-color:#24424cc4; padding: 10px;"
								required maxlength="11">
						</div>


						<div class="form-group">
							<label style="color:black">Type Of Plan</label>

							<div style="color:black; background-color:#6c7d83c4; padding: 10px;">
								<input id="type1" type="checkbox" name="plan_type" value="basic" checked />
								<label for="type1">Basic</label>
							</div>

							<div style=" color:black;background-color:#a7d1ddc4; padding: 10px;">
								<input id="type2" type="checkbox" name="plan_type" value="premium" />
								<label for="type2">Premium</label>
							</div>

							<div style=" color:black; background-color:#6c7d83c4; padding: 10px;">
								<input id="type3" type="checkbox" name="plan_type" value="golden" />
								<label for="type3">Golden</label>
							</div>

						</div>

						<div class="form-group">
							<button type="submit" class="form-control btn btn-primary rounded submit px-3">
								Save</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>


	<!--------------------------------------------------->
	<!-- End of New Hospital Modal -->
	<!--------------------------------------------------->


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

</body>

</html>